In [2]:
import duckdb
import pandas as pd

In [5]:
sql_query = '''
select * from "nyc_parking_violations"."main_dbt_test__audit"."violation_codes_revenue"
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

   violation_code  total_revenue_usd
0              41                0.0

In [10]:
sql_query = '''
show tables
'''

with duckdb.connect('data/prod_nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                             name
0  bronze_parking_violation_codes
1       bronze_parking_violations
2             gold_ticket_metrics
3           gold_vehicles_metrics
4         parking_violation_codes
5         parking_violations_2023
6        silver_violation_tickets
7       silver_violation_vehicles

In [5]:
lst = df_read.columns.values.tolist()

In [6]:
print(lst)

['summons_number', 'registration_state', 'plate_type', 'issue_date', 'violation_code', 'vehicle_body_type', 'vehicle_make', 'issuing_agency', 'vehicle_expiration_date', 'violation_location', 'violation_precinct', 'issuer_precinct', 'issuer_code', 'issuer_command', 'issuer_squad', 'violation_time', 'time_first_observed', 'violation_county', 'violation_in_front_of_or_opposite', 'date_first_observed', 'law_section', 'sub_division', 'violation_legal_code', 'days_parking_in_effect', 'from_hours_in_effect', 'to_hours_in_effect', 'vehicle_color', 'unregistered_vehicle', 'vehicle_year', 'meter_number', 'feet_from_curb', 'no_standing_or_stopping_violation', 'hydrant_violation', 'double_parking_violation']

In [6]:
sql_query1 = ''' 
CREATE or REPLACE TABLE parking_violation_codes AS
SELECT * 
FROM read_csv_auto(
'data/dof_parking_violation_codes.csv',
normalize_names=True
)
'''

In [7]:
sql_query2 = '''
CREATE or REPLACE TABLE parking_violations_2023 AS
SELECT * 
FROM read_csv_auto(
'/workspaces/data-engineering-with-data-build-tool-dbt-4458303/data/parking_violations_issued_fiscal_year_2023_sample.csv',
normalize_names=True
)
'''

In [8]:
with duckdb.connect('data/prod_nyc_parking_violations.db') as con:
  con.sql(sql_query1)

In [9]:
with duckdb.connect('data/prod_nyc_parking_violations.db') as con:
  con.sql(sql_query2)

In [3]:
sql_query = '''
SELECT * from parking_violation_codes LIMIT 5
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

,code,definition,manhattan_96th_st_below,all_other_areas
0,1,FAILURE TO DISPLAY BUS PERMIT,515,515
1,2,NO OPERATOR NAM/ADD/PH DISPLAY,515,515
2,3,UNAUTHORIZED PASSENGER PICK-UP,515,515
3,4,BUS PARKING IN LOWER MANHATTAN,115,115
4,5,BUS LANE VIOLATION,250,250